/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.skip{
    border-radius: 0 0 6px 6px;
    transform: translateY(-100%);
    transition: transform 150ms ease;
    background-color: #EF9F27;
    color: #412402;
    font-weight: 600;
    text-decoration: none;
    padding: 12px 20px;
    position: absolute;
    top: 0;
    left: 8px;
    z-index: 100;

}

.skip:focus {
    transform: translateY(0);
}

main:focus {
    outline: none;
}


header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    background-color: #0F2E33;
}

.company-name{
    font-size: 1.5rem;
    color: #FFFFFF;
}

nav button{
    background-color: #0F2E33;
    border: none;
}

nav button img{
    height: 50px;
    width: auto;
}

nav ul {
    display: none;
}

@media screen and (min-width: 575px) {
    nav img{
    display: none;
    }

    nav {
    flex-basis: 50%;
    }

    nav ul {
    display: flex;
    justify-content: space-around;
    }

    nav ul a{
        text-decoration: none;
        color: #FFFFFF;
    }
}

@media screen and (min-width: 1000px) {
    nav {
    flex-basis: 40%;
}
}


@media screen and (min-width: 1440px) {
    nav {
    flex-basis: 30%;
}
}